@media screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 8px;
        margin: 20px 30px 15px 0px;
    }
    header > nav{
        display: flex;
        gap: 30px;
        justify-content: start;
    }
}
@media only screen and (max-width: 855px) {
    .principal{
     flex-direction: column;
    }
    .principal .main-burguer{
     width: 312px;
     height: 312px;
 }
 }
 @media only screen and (max-width: 429px) {
     body{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
     .principal .main-burguer{
         width: 212px;
         height: 212px;
  }
 } 