@media screen and (max-width: 1000px){
    /* main */
    .sn{
        width: 96vw;
    }
    .sn .quem-somos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw; 
    }
    .sn .quem-somos div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .quem-somos div h1{
        font-size: 30px;
        margin-top: 20px;
    }
}