:root{
    --mainOrange: #FBB472;
    font-family: "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

.logo{
    height: 50px;
    width: 50px;
    margin: 10px;
}
/* HEADER */
body{
    background-color: var(--mainOrange);
}

header {
    display: flex;
    background-color: black;
    margin-top: 30px;
    justify-content: space-between;
}
header > nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
header > nav > ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
header nav ul li .botao-fazer-pedido{
   margin-right: 20px;
   background-color: var(--mainOrange);
   padding: 10px;
   border-radius: 20px;
   color: black;
}
/* MAIN */
.principal{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
    padding-left: 30px;
}
.principal .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.principal .main-burguer{
    width: 600px;
    height: 600px;
}
.principal .intro h1{
    font-size: 20px;
    font-weight: bolder;
    color: var(--mainOrange);
}
.principal .intro h2{
    font-size: 40px;
    font-weight: black bolder;
    color: var(--mainOrange);
}
.principal .intro p{
    font-size: 10px;
    color: var(--mainOrange);
}

/* FOOTER */

footer p{
    display: inline;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 136px;
}

footer > div{
    display: flex;
    justify-content: space-between;
}
footer .social-media ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 40px;
    padding-top: 20px;
    margin-right: 5px;
    font-size: 40px;
}
footer .sobre{
    display: flex;
}
footer .sobre ul{
    margin-top: 15px;
}
footer .teste{
    color: #FBB472;
}
.fa-facebook, .fa-instagram, .fa-whatsapp{
    color: var(--mainOrange);
}
.fa-user, .fa-phone{
    color: white;
}
main .pedido{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .pedido .itens{
    background-color: white;
    width: 250px;
    height: 100px;
}

/* PROMOÇÃO */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 272px;
}

.sub-container{
    display: flex;
    
    gap: 170px;
    margin-top: 113px;
}

.sub{
    margin-top: 80px;
    display: flex;
    gap: 115px;
    text-align: center;
}
.sub p{
    margin-top: 18px;
    font-size: 30px;
}


.info-produto img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

;.info-produto p {
    font-size: 20px;
}

.description{
    max-width: 322px;
    gap: 28px;
}

.description h2{
    font-size: 50px;
    color: #78511E;
}

.preco{
    background-color: black;
    max-width: 375px;
    max-height: 209px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
}

.preco div{
    padding: 15px;
}

.preco-promocional{
    max-width: 260px;
    max-height: 75px;
    background-color: #FBB472;
    margin-bottom: 12px;
    border-radius: 20px;
}

.botao-fazer-pedido{
    max-width: 318px;
    max-height: 75px;
    text-align: center;
    background-color: white;
    padding: 26px 30px;
    margin-top: 66px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.atencao img{
    width: 33.33px;
    height: 33.33px;
}

.atencao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 278px;
    max-height: 202px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 92px;
    border-radius: 20px;
}

.inside-att{
   padding: 26px 30px;
}
